# ====================== API ======================
API_KEY=api_key-
API_KEY_NAME=X-API-Key

REPORT_URL=https://middleware-01.fromtech.kz/test_report_dev/test_report
HEALTH_URL=https://middleware-01.fromtech.kz/test_report_dev/health

# ====================== Telegram ======================
TELEGRAM_TOKEN=botToken
TELEGRAM_CHAT_ID=ChatId

# ====================== Email ======================
EMAIL_FROM=EMAIL_FROM@gmail.com
EMAIL_PASSWORD=password
# Нужет пароль который сгенерирован по адрессу https://myaccount.google.com/apppasswords

EMAIL_RECIPIENTS=EMAIL_TO

# ====================== SMTP (Gmail) ======================
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587

