# ====================== API ======================
API_KEY=api_key-

# ====================== Telegram ======================
TELEGRAM_TOKEN=botToken
TELEGRAM_CHAT_ID=ChatId

# ====================== Email ======================
EMAIL_FROM=YorEmail@gmail.com
EMAIL_PASSWORD=password

# ====================== SMTP (Gmail) ======================
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587